#
# all.cfg
#
# This service definition file defines some very basic services that we use
# for all hosts.
#
# Authors:
#      Mark Smith <mark@dreamwidth.org>
#
# Copyright (c) 2009 by Dreamwidth Studios, LLC.
#
# This program is free software; you may redistribute it and/or modify it under
# the same terms as Perl itself.  For a copy of the license, please reference
# 'perldoc perlartistic' or 'perldoc perlgpl'.
#


# ssh is useful for lots of things, keep it up
define service {
    hostgroup_name                  all
    service_description             SSH
    check_command                   check_ssh
    use                             generic-service
}
